Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
ffmpeg==1.4
ffmpy==0.4.0
ffprobe==0.5
filelock==3.16.1
idna==3.10
mutagen==1.47.0
pillow==11.0.0
pycryptodomex==3.21.0
qrcode==8.0
redis==5.1.1
requests==2.32.3
requests-file==2.1.0
savify==2.3.4
SAVY==1.0.0
spotipy==2.24.0
tldextract==5.1.2
urllib3==2.2.3
validators==0.34.0
websockets==13.1
youtube-dl==2021.12.17
youtube-search==2.1.2
yt-dlp==2024.10.7
