{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'commerce/invest/layout.css' %}">
    <title>Investing</title>
</head>
<body>
    <div>
        <h1>iClub</h1>
        <div id="tab_container">
            <div id="tabs">
                <span id="tabs_links">
                    <a href="#">Advertisements</a>
                    <a href="{% url 'invest:options' %}">Options</a>
                    <a href="{% url 'invest:contact' userMessage='I want to Invest' %}">Contact</a>
                    <a href="{% url 'invest:portfolio' %}">Portfolio</a>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'invest:records' %}">Records</a>
                    <!-- <a href="{% url 'invest:index' %}">Index</a> -->
                    <a href="{% url 'invest:reports' %}">Reports</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>