
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);

        /* Black w/ opacity */
        -webkit-animation-name: fadeIn;
        /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s;

    }



    /* MAKE AN ADJUSTABLE WIDTH */
    .modal-content {

        /* left: 20%; */
        width: 100%;
        /* bottom: 0; */
        /* position: fixed; */
        background-color: #fefefe;
        border-radius: 9px;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        overflow: scroll;
        margin: 5% auto;
    }



    .modal-header {
        padding: 2px 16px;
        background-color: #ffffff;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
            font-size: calc(2vh + 0.2vw);

    }

    .modal-footer {
        padding: 2px 16px;
        padding: 13;
        background-color: #e1e1e1;
        color: white;
    }

    .modal-footer a {
        text-align: right;
        text-decoration: none;
    }

    .addPaddingLeft {
        padding-left: 15px;
    }

    /* Add Animation */
    @-webkit-keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }


    .svg-car {
        fill: #4CAF50;
    }


        .user-contactInformation {
            background-color: rgba(235, 235, 235, 0);
            border: none;
            max-width: 100%;
        }

        .user-author-image {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            box-shadow: rgba(102, 102, 102, 0.15) 0px 4px 8px, rgba(102, 102, 102, 0.1) 0px 2px 4px;
            border-top-width: 2px;
            border-right-width: 2px;
            border-bottom-width: 2px;
            border-left-width: 2px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: rgb(255, 255, 255);
            border-right-color: rgb(255, 255, 255);
            border-bottom-color: rgb(255, 255, 255);
            border-left-color: rgb(255, 255, 255);
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            width: 50px;
            max-width: 50px;
            height: 50px;
            background-image: initial;
            background-position-x: initial;
            background-position-y: initial;
            background-size: cover;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            /* background-color: rgb(51, 102, 153); */
            color: rgb(255, 255, 255);
            /* background-image: url("{% static 'home/images/me.jpg' %}"); */
            
        }

        .user-author-container {
            background-color: rgb(209, 228, 245);
            color: rgb(22, 98, 195);
            width: fit-content;
            font-size: 16px !important;
            padding: 4px;
            padding-right: 12px;
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 10px;
        }

        .user-author {

        }

        .user-svg {
            padding-right: 4px;
            max-height: 13px;
            padding-left: 4px;
            padding-right: 4px
        }

        .user-svg-larger {
            padding-right: 4px;
            max-height: 17px;
            padding-left: 4px;
            padding-right: 4px
        }

        .user-svg-top {
            max-height: 16px;
            padding-right: 10px;
            padding-left: 10px;
        }

        svg {
            max-height: 24px;
        }

        #calendar-container {
            display: flex;
            flex-wrap: wrap;
            Justify-content: space-evenly
        }

        #calendar-objects-list li {
            list-style: none;
        }

        * {
            /* max-width: 100%; */
        }

    

        /* CALENDAR START */
                table {
            /* background: rgb(147, 142, 255);
            background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
            background-color: rgb(247, 246, 246);
            
        }
        .month {
            text-align: center;
            position: relative;
            color: black;
        }

        table {
            padding: 5px;
            padding-top: 0;
            border-radius: 5px;
            height: 250px !important;
        }



        /* MONTH NAME */
        #calendar-container>table>tbody>tr:nth-child(1)>th {
            /* color: white; */
            font-family: poppins-semibold, poppins, sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
        }

        #calendar-container>table>tbody>tr:nth-child(1)>th>div:nth-child(2)>a>span {
            padding: 20px;
            text-shadow: black 3px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1;
            right: 0;
            margin: auto;
            height: 20px;
        }

        #calendar-container>table>tbody>tr:nth-child(1)>th>div:nth-child(1)>a>span {
            padding: 20px;
            text-shadow: black 3px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 1;
            margin: auto;
            height: 20px;
        }


        tbody:nth-child(1) {
            color: 777;
        }

        body>div.body-center>div.main-center-body>div>div:nth-child(1)>table>tbody>tr:nth-child(2) {
            margin: 0;
            padding: 10px 0;
            background-color: #ddd;
        }

        #calendar-container>table>tbody>tr:nth-child(+n+3) {
            height: 3rem;
            background-color: white;
        }

        .calendar-heading {
            padding: 0.4em;
        }

        .calendar-container {
            margin: 0 auto;
            text-align: center;
            max-height: 50vh;
        }


        .button-standAlone {
            margin: 20px;
        }

        td,
        th {
            text-align: center;
            top: 1;
        }

        td {
            /* font-size: calc(2vh + 0.2vw);
            height: calc(3vh + 4vw); */
            width: 3rem !important;
            top: 1;
            padding: calc(0.2vh + 0.2vw) !important;
            border: solid 0.5px black;
            font-weight: 200;
        }


        .button-moreInfo {
            border: none;
            background-color: oldlace;
            border-radius: 8px;
            padding: 6px;
            
        }
        .button-moreInfo:hover {
            box-shadow: 0 0 5px grey;
        }





        body>div.body-center>div.main-center-body>div>div:nth-child(1)>table>tbody>tr:nth-child(1)>th {
            padding: 40px;
        }

        @media (min-width: 599px) {
            .modal-content {
                width: 50% !important;
            }
        }

        #calendar-container>table>tbody>tr:nth-child(2) {
            height: 50px;
            text-shadow: white 3px;
        }

        #calendar-container>table>tbody>tr:nth-child(1)>th {
            height: 150px;
        }

        /* CALENDAR END */
        .main-center-body {
            padding: 10px;
        }

        .next {
            float: right;
            color: rgb(7, 138, 0);
        }
        .next:hover{
            background-color: rgb(182, 182, 182);
        }

        .prev {
            float: left;
            color: rgb(148, 0, 0);
        }
        .prev:hover{
            background-color: rgb(182, 182, 182);
        }

        th {
            font-weight: 100;
        }

        body>div.body-center>div.main-center-body>div>div:nth-child(1)>table>tbody>tr:nth-child(1)>th {
            color: white;
        }



        #calendar-container>table>tbody>tr:nth-child(2)>th {
            width: 3rem;
            background-color: #d9d9d9;
        }



        .badge {
            min-width: 0.1rem !important;
            background-color: rgb(244, 130, 37);
            box-shadow: #d9d9d9 0 0 6px;
            border-radius: 3px;
            color: white;
            padding: calc(0.2vh + 0.2vw);
            margin: 0;
            font-size: 0.7rem;
        }

        html {
            /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
            font-family: Raleway, sans-serif;
        }


        .quote-details-content {
            width: inherit;
            justify-content: center;
            background-color: white;
            padding: 5px;
        }

        .quote-details-container {
            width: inherit;
        }


        .block-quote-container {
            width: inherit;
        }

        #calendar-objects-list {
            width: auto;
            margin-top: 50px;
        }

        .collection-item {
            margin-bottom: 15px;
            margin-right: 0;
        }

        /* .calendar-container-schedules>div {
            width: inherit;
        } */

        .calendar-container-schedules {
            justify-content: space-evenly !important;
            flex-grow: 1;
            overflow: scroll;
            width: 350px;
            max-width: 90vw;

            overflow: scroll;
            /* padding: 10px; */
            background-color: white;
            /* padding: 10px;
            border: solid 3px rgb(63 68 49);
            margin: 5px; */
            position: relative;
        }

        blockquote {
            border-left: solid 3px;
            padding-left: 3px;
            border-color: #2196F3 !important;
            font-weight: 250;
            overflow-x: scroll;
            margin-inline-start: 1px;
            margin-inline-end: 2px;
            margin-block-start: 1px;
            margin-block-end: 1px;
        }

        .summary-container {
            padding: 6px;
        }

        .loading-symbol {
            margin: 0 auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .container-reviewCount {
            color: rgb(106, 115, 124);
            display: inline;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            width: auto;
        }

        .block-quote-color {
            color: #4CAF50
        }
